@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --bg: #211111;
    --bege: #ECD6AF;
    --laranja: #CA7F0E;

}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: var(--bg);
    color: var(--bege);
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

.intro {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero {
    flex: 1.2;
    display: flex;
    justify-content: space-between;
}

.hero img {
    width: 400px;
    height: auto;
    border-radius: 12px;
    border: 3px solid var(--laranja);
}

.intro__title {
    font-family: "Quicksand", sans-serif;
    font-size: 42px;
    font-weight: 400;

}

.mark-title {
    color: var(--laranja);
    font-weight: 800;
    font-style: oblique;
}

.intro__subtitle {
    font-family: "Quicksand", sans-serif;
    font-size: 32px;
}

.intro__text1 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}


.btn {
    background-color: var(--bege);
    width: 280px;
    text-align: center;
    border-radius: 16px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--laranja);
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    font-size: 24px;
    font-style: bold;
}

.actions_text{
    font-family: "Quicksand", sans-serif;
    font-size: 32px;
}

.site-footer {
    text-align: center;
    padding: 24px 0;
    color: var(--laranja);
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    font-size: 24px;
    font-style: bold;
}